---
url: https://docs.cloud.google.com/chrome-enterprise-premium/docs/deploy-cba-endpoint-verification/
title: Deploy Endpoint Verification to use with certificate-based access \u00a0|\u00a0 Chrome Enterprise Premium \u00a0|\u00a0 Google Cloud Documentation
method: scrapling+scrapegraph
fetched_at: 2026-10-15T08:25:03.233760+00:00
---

# Deploy Endpoint Verification to use with certificate-based access  |  Chrome Enterprise Premium  |  Google Cloud Documentation

> Source: https://docs.cloud.google.com/chrome-enterprise-premium/docs/deploy-cba-endpoint-verification/

  * [ Home ](https://docs.cloud.google.com/)
  * [ Documentation ](https://docs.cloud.google.com/docs)
  * [ Security ](https://docs.cloud.google.com/docs/security)
  * [ Chrome Enterprise Premium ](https://docs.cloud.google.com/chrome-enterprise-premium/docs)



Send feedback 

#  Deploy Endpoint Verification to use with certificate-based access Stay organized with collections  Save and categorize content based on your preferences. 

As part of a Chrome Enterprise Premium solution, Endpoint Verification provides critical device trust and security-based access control, and can help enforce fine-grained access control on your Google Cloud resources.

For more information about Endpoint Verification, including how to install it, see [Endpoint Verification overview](https://docs.cloud.google.com/endpoint-verification/docs/overview).

If you are installing Endpoint Verification for the first time, we recommend installing the latest version. The following versions of Endpoint Verification are required to use certificate-based access:

  * Endpoint Verification Chrome Extension: 1.0.38 or later
  * Native helper: 0.4.40.0 or later for Mac, 0.4.36.0 or later for Windows, and 20191007 or later for Linux



Send feedback 

Except as otherwise noted, the content of this page is licensed under the [Creative Commons Attribution 4.0 License](https://creativecommons.org/licenses/by/4.0/), and code samples are licensed under the [Apache 2.0 License](https://www.apache.org/licenses/LICENSE-2.0). For details, see the [Google Developers Site Policies](https://developers.google.com/site-policies). Java is a registered trademark of Oracle and/or its affiliates.

Last updated 2026-10-13 UTC.

Need to tell us more?  [[["Easy to understand","easyToUnderstand","thumb-up"],["Solved my problem","solvedMyProblem","thumb-up"],["Other","otherUp","thumb-up"]],[["Hard to understand","hardToUnderstand","thumb-down"],["Incorrect information or sample code","incorrectInformationOrSampleCode","thumb-down"],["Missing the information/samples I need","missingTheInformationSamplesINeed","thumb-down"],["Other","otherDown","thumb-down"]],["Last updated 2026-10-13 UTC."],[],[]] 
